{% extends "login_base.html" %}
{% load dajaxice_templatetags %}
{% block navbar %}{% endblock %}
{% block body %}
    <div class="row-fluid headerLogin">
        <div class="pull-left span6"><h3>&nbsp;&nbsp;Pipo</h3></div>
        <div class="pull-right ing-informatica">
            <strong>Ing. Informática y de Sistemas — UNSAAC</strong>
            <img src="/static/img/info2.png" width="50"/>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span7 welcomeText">
                <h4>Con Pipo Ud. puede:</h4><br><br>

                <div class="row-fluid">
                    <div class="span12">
                        <div class="span1">
                            <img src="/static/img/student2.png"/>
                        </div>
                        <div class="span10">
                            <p>Como Alumno:</p>

                            <p>Llenar cuestionarios que le permitirán conocer
                                sus diferentes habilidades.</p>
                        </div>
                    </div>
                </div>
                <br>

                <div class="row-fluid">
                    <div class="span12">
                        <div class="span1">
                            <img src="/static/img/teacher2.png"/>
                        </div>
                        <div class="span10">
                            <p>Como Docente:</p>

                            <p>Ver los resultados de los alumnos para conocer
                                sus diferentes tipo de habilidades y poder
                                preparar el dictado de clases de la forma más
                                adecuada a ellos..</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span5 animated bounceIn">
                <div id="formulario-login">
                    <h1>Iniciar Sesión</h1>

                    <form action="/" method="POST">{% csrf_token %}
                        {{ login_form.user }}<br>
                        {{ login_form.password }}<br>
                        <input type="button" class="btn btn-primary btn-login"
                               onclick="iniciar();"
                               value="Ingresar"/>
                        <br>
                        <p class="alert-info novisible" id="validalogin">
                            <img src="/static/img/load1.gif"/>
                            Verificando datos...
                        </p>
                        <p class="alert-error novisible" id="errorlogin">
                            <i class="icon-remove-circle icon-2x"></i>
                            Datos incorrectos.
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {% dajaxice_js_import %}
    <script src="/static/dajax/jquery.dajax.core.js"></script>
    <script src="/static/js/pipologin.js"></script>
{% endblock %}