<!DOCTYPE HTML>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta content="Cinthya Roxana Huacac Caballero" name="author">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/estilos.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet"
          media="screen">
    <link href="/static/css/toggle-switch.css" rel="stylesheet" media="screen">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet"
          media="screen">
    <link href="/static/css/animate.min.css" rel="stylesheet" media="screen">
    <title>Encuesta</title>
</head>
<body>
{% block navbar %}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="nav">
                <strong><a class="brand" href="/"><i class="icon-home"></i><b>
                    PIPO</b></a></strong>
            </div>
            <div class="nav pull-right">
                <li><a href="/alumno/perfil/"><i class="icon-user"></i>
                        Editar perfil</a></li>
                <li><a href="/logout/">Cerrar sesión
                    <i class="icon-off"></i></a>
                </li>
            </div>
        </div>
    </div>
{% endblock %}
<div class="myContent content-background">
    {% block body %} {% endblock %}
</div>
<script src="/static/js/jquery-1.8.3.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>