{% extends 'diapos.html' %}
{% block titulo %}
    Personalidad - Activo
{% endblock %}
{% block body %}
    <div id="impress">
        <div id="Activos" class="step slide" data-x="0" data-y="1000">
            <q>Activos</q>
            <img src="/static/img/activos.jpeg" alt="Activos"/>
            <br><br><br>
            <h5 class="alert alert-info">Utilize las teclas direccionales para desplazarse</h5>
        </div>
        <div id="Activos1" class="step slide" data-x="0" data-y="0">
            Suelen ser entusiastas ante lo nuevo y tienden a actuar primero y
            pensar después en las consecuencias.
            Les gusta trabajar rodeados de gente, pero siendo el centro de la
            actividades.
        </div>
        <div id="Activos2" class="step slide" data-x="0" data-y="-1000">
            <strong>Potencian su aprendizaje cuando:</strong><br>
            <ul>
                <li class="icon-ok">Intentas nuevas experiencias y
                    oportunidades.
                </li>
                <br>
                <li class="icon-ok">Compites en equipo.</li>
                <br>
                <li class="icon-ok">Generas ideas sin limitaciones formales.
                </li>
                <br>
                <li class="icon-ok">Resuelves problemas.</li>
                <br>
                <li class="icon-ok">Cambias y varias las cosas.</li>
                <br>
            </ul>
        </div>
        <div id="Activos3" class="step slide" data-x="0" data-y="-2000">
            <strong>Dificultan su Aprendizaje cuando:</strong><br>
            <ul>
                <li class="icon-ok">Prestas atención a los detalles o haces
                    trabajos que exijan
                    detallismo.
                </li>
                <br>
                <li class="icon-ok">Trabajas solos, lees, escribes o piensas
                    solo.
                </li>
                <br>
                <li class="icon-ok">Evaluas lo que vas a aprender.</li>
                <br>
                <li class="icon-ok">Ponderas lo ya realizado o aprendido.</li>
                <br>
                <li class="icon-ok">Repites la misma actividad.</li>
                <br>
            </ul>
        </div>
    </div>
{% endblock %}