{% extends 'diapos.html' %}
{% block titulo %}
    Personalidad - Activo
{% endblock %}
{% block body %}
    <div id="impress">
        <div id="Activos" class="step slide" data-x="0" data-y="1000">
            <q>Activos</q>

            <p>guía del docente</p>
            <img src="/static/img/activos.jpeg" alt="Activos"/>
            <br><br><br>
            <h5 class="alert alert-info">Utilize las teclas direccionales para
                desplazarse</h5>
        </div>


        <div id="Activos1" class="step slide" data-x="0" data-y="0">
            Los alumnos activos se involucran totalmente y sin prejuicios en las
            experiencias nuevas. Disfrutan el momento presente y se dejan llevar
            por los acontecimientos. Suelen ser entusiastas ante lo nuevo y
            tienden a actuar primero y pensar después en las consecuencias.
            Llenan sus días de actividades y tan pronto disminuye el encanto de
            una de ellas se lanza a la siguiente. Les aburre ocuparse de planes
            a largo plazo y consolidar proyectos, les gusta trabajar rodeados de
            gente, pero siendo el centro de la actividades. <br>
            La pregunta que quieren responder con el aprendizaje es <strong>¿cómo?</strong>
        </div>


        <div id="Activos2" class="step slide" data-x="0" data-y="-1000">
            <strong>TECNICAS</strong><br>
            <ul>
                <li>
                    Participan y evalúan por medio de resultados, requieren
                    materiales con aplicaciones prácticas, mediante la propuesta
                    de ejercicios y casos a resolver.
                </li>
                <li>Use lluvia de ideas</li>
                <li>Involucre al alumno en actividades que le presenten un
                    desafío, de preferencia que sean cortas y de resultados
                    inmediatos e involucren emoción, drama y crisis
                </li>
                <li>Maneje paquetes estadísticos</li>
                <li>Discuta un tema desde diferentes tipos de roles</li>
            </ul>
            <p><strong>Para promover la empatía en el grupo de alumnos en
                Materias terminales de carreras profesionales, en cursos
                donde se puede hacer un trabajo interdisciplinario, deje
                proyectos como tareas</strong>
            </p>
            <ul>

                <li>Utilize Blog, Wikis y Google Docs.</li>
                <li>Fomente foros de discusión.</li>
                <li>Hágales elaborar mapas conceptuales.</li>
                <li>Son buenos lideres.</li>
            </ul>
        </div>

    </div>
{% endblock %}