{% extends 'diapos.html' %}
{% block titulo %}
    Personalidad - Teórico
{% endblock %}
{% block body %}
    <div id="impress">
        <div id="Teóricos" class="step slide" data-x="0" data-y="0">
            <q>Teóricos</q>            <p>guía del docente.</p>
            <img src="/static/img/escribiendo.jpg" alt="Teóricos"/>

            <h5 class="alert alert-info">Utilize las teclas direccionales para
                desplazarse</h5>
        </div>


        <div id="Teóricos2" class="step slide" data-x="1000" data-y="500">
            Los alumnos teóricos adaptan e integran las observaciones que
            realizan en teorías complejas y bien fundamentadas lógicamente.
            Piensan de forma secuencial y paso a paso, integrando hechos
            dispares en teorías coherentes. Les gusta analizar y sintetizar la
            información y su sistema de valores premia la lógica y la
            racionalidad. Se sienten incómodos con los juicios subjetivos, las
            técnicas de pensamiento lateral y las actividades faltas de lógica
            clara. La pregunta que quieren responder con el aprendizaje es
            <strong>¿qué?</strong>
        </div>


        <div id="Teóricos3" class="step slide" data-x="1400" data-y="1500"
             data-rotate-y="90" opacity="0">
            <strong>TÉCNICAS</strong>
            <ul>
                <li>Se dejan llevar por las primeras impresiones, prefieren la
                    impresión y la subjetividad.
                <li>Se deben elaborar materiales densos que provoquen el
                    pensamiento, hacer practica la detección de incoherencias o
                    puntos débiles en
                    los argumentos de otras personas, en informes, en artículos
                    de
                    prensa.
                <li>Procure hacer debates con este tipo de alumnos.
                    Aprenden mejor con modelos, teorías, sistemas con ideas y
                    conceptos
                    que presenten un desafío.
                <li>Hágales elaborar mapas conceptuales.
                <li>Elabore tareas donde tenga que escribir todos los datos en
                    un
                    modelo,soncepto o teoría.

                <li>Discuta un tema desde diferentes tipos de roles. Para

                <li>Promueva la empatía en el grupo de alumnos.
            </ul>
        </div>


        <div id="Teóricos4" class="step slide" data-x="0" data-y="1500">
            <strong>TÉCNICAS</strong>
            <ul>
                <li>En Materias terminales de carreras profesionales, en cursos
                    donde se
                    puede hacer un trabajo interdisciplinario, deje como tarea
                    proyectos.

                <li>Las tareas que sean resúmenes a mano para su mayor captación
                    de
                    información.

                <li>Utilize Blog, Wikis y Google Docs.
                <li>Organize sesiones de preguntas y respuestas.
                <li>Utilize teoremas a demostrar o ponga a prueba métodos y
                    lógica
                    que
                    sean la base de algo.
                <li>Les encanta sentirse presionados intelectualmente y
                    competir.
                <li>Pongalos en grupos donde este con personas de igual nivel
                    conceptual.
                <li>Detestan cuando tienen que actuar sin un fundamento teórico.
            </ul>
        </div>
    </div>
{% endblock %}