{% extends 'diapos.html' %}
{% block titulo %}
    Personalidad - Pragmático
{% endblock %}
{% block body %}
    <div id="impress">
        <div id="Pragmáticos" class="step slide" data-x="0" data-y="1000">
            <q>Pragmáticos</q>

            <p>guía del docente</p>
            <img src="/static/img/pragmatico.gif" alt="Pragmáticos"/>

            <h5 class="alert alert-info">Utilize las teclas direccionales para
                desplazarse</h5>
        </div>


        <div id="Pragmáticos0" class="step slide" data-x="0" data-y="0">
            A los alumnos pragmáticos les gusta probar ideas, teorías y técnicas
            nuevas, y comprobar si funcionan en la práctica. Les gusta buscar
            ideas y ponerlas en práctica inmediatamente, les aburren e
            impacientan las largas discusiones discutiendo la misma idea de
            forma interminable. Son básicamente gente práctica, apegada a la
            realidad, a la que le gusta tomar decisiones y resolver problemas.
            Los problemas son un desafío y siempre están buscando una manera
            mejor de hacer las cosas. La pregunta que quieren responder con el
            aprendizaje es
            <strong>¿qué pasaría si…?.</strong>
        </div>

        <div id="Pragmáticos1" class="step slide" data-x="1000" data-y="0">
            <strong>TÉCNICAS</strong>
            <ul>
                <li>Usar técnicas analíticas, interpersonales, de asertividad,
                    de
                    presentación de ahorro de tiempo, estadísticas.
                <li>Use técnicas para mejorar la memoria en sus alumnos.
                <li>Busque oportunidades para experimentar técnicas recién
                    halladas
                    y
                    ensayarlas en la práctica.
                <li>Realice actividades que relacionen la teoría y la práctica.
                <li>Hágales elaborar mapas conceptuales.
                <li>En Materias terminales de carreras profesionales, en cursos
                    donde se
                    puede hacer un trabajo interdisciplinario, deje proyectos
                    como
                    tareas.

                <li>Utilize Blog, Wikis y Google Docs.
                <li>Puede usar exposiciones.
                <li>Discuta un tema desde diferentes tipos de roles. Para
                <li>Promueva la empatía en el grupo de alumnos.
                <li>Maneje paquetes estadísticos.
                <li>Haga sus clases mas practicas.
            </ul>
        </div>


        <div id="Pragmáticos2" class="step slide" data-x="2000" data-y="0">
            <strong>TÉCNICAS</strong>
            <ul>
                <li>Aprenden mejor cuando ven a los demás hacer algo.
                <li>Si usa teoría en sus clases, póngalo en práctica
                    inmediatamente.
                <li>Les gusta que lo aprendido este relacionado con la realidad,
                    porque
                    si no les parece aburrido.
                <li>Al momento de enseñar anteponga un modelo al cual poder
                    emular.
                <li>Acompañe sus clases con videos que muestren como se hacen
                    las
                    cosas.
                <li>Procure recalcar en la enseñanza que lo que están
                    aprendiendo
                    será
                    utilizado en su trabajo y explíquelo con ejemplos reales.
                <li>Utilice muchos ejemplos y anécdotas.
                <li>Los alumnos pragmáticos son muy impacientes a la hora de
                    aprender y
                    generalmente se aburren en las clases que contienen mucha
                    teoría.
            </ul>
        </div>
    </div>
{% endblock %}