{% extends 'diapos.html' %}
{% block titulo %}
    Personalidad - Pragmático
{% endblock %}
{% block body %}
    <div id="impress">
        <div id="Pragmáticos" class="step slide" data-x="0" data-y="1000">
            <q>Pragmáticos</q>
            <img src="/static/img/pragmatico.gif" alt="Pragmáticos"/>
            <br><br><br>
            <h5 class="alert alert-info">Utilize las teclas direccionales para desplazarse</h5>
        </div>
        <div id="Pragmáticos0" class="step slide" data-x="0" data-y="0">
            Les gusta probar ideas, teorías y técnicas nuevas, y comprobar
            si funcionan en la práctica. Les gusta buscar ideas y ponerlas
            en práctica inmediatamente, les aburren e impacientan las largas
            discusiones discutiendo la misma idea de forma interminable.
            Son básicamente gente práctica, apegada a la realidad, a la que le
            gusta
            tomar decisiones y resolver problemas.
        </div>

        <div id="Pragmáticos1" class="step slide" data-x="1000" data-y="0">
            <strong>Potencian su aprendizaje cuando:</strong>
            <ul>
                <li class="icon-ok">Aprender técnicas para hacer las cosas con
                    ventajas prácticas
                    evidentes.
                </li><br>
                <li class="icon-ok">Estar expuesto ante un modelo al que puede
                    emular.
                </li><br>
                <li class="icon-ok">Adquirir técnicas inmediatamente aplicables
                    en su trabajo.
                </li><br>
                <li class="icon-ok">Tener oportunidad inmediata de aplicar lo
                    aprendido, de
                    experimentar.
                </li><br>
                <li class="icon-ok">Elaborar planes de acción con un resultado
                    evidente.
                </li><br>
                <li class="icon-ok">Dar indicaciones, sugerir atajos.</li><br>
                <li class="icon-ok">Poder experimentar con técnicas con
                    asesoramiento de retorno de
                    alguien experto
                </li><br>
            </ul>
        </div>
        <div id="Pragmáticos2" class="step slide" data-x="2000" data-y="0">
            <strong>Dificultan su aprendizaje cuando:</strong>
            <ul>
                <li class="icon-ok">Percatarse que el aprendizaje no tiene
                    relación
                    con una necesidad
                    inmediata.
                </li><br>
                <li class="icon-ok">Percibir que tal aprendizaje no tiene
                    relación
                    con una necesidad
                    inmediata o beneficio práctico.
                </li><br>
                <li class="icon-ok">Aprender lo que está distante de la
                    realidad.
                </li><br>
                <li class="icon-ok">Aprender teorías y principios generales.
                </li><br>
                <li class="icon-ok">Trabajar sin instrucciones claras sobre cómo
                    hacerlo
                </li><br>
            </ul>
        </div>
    </div>
{% endblock %}