{% extends 'diapos.html' %}
{% block titulo %}
    Personalidad - Reflexivo
{% endblock %}
{% block body %}
    <div id="impress">
        <div id="Reflexivos" class="step slide" data-x="0" data-y="0">
            <q>Reflexivos</q>
            <img src="/static/img/reflexivo.jpg" alt="Reflexivo"/>
            <br><br><br>
            <h5 class="alert alert-info">Utilize las teclas direccionales para desplazarse</h5>
        </div>
        <div id="Reflexivos1" class="step slide" data-x="1500" data-y="300">
            Analizas tus experiencias desde muchas perspectivas distintas.
            Son precavidos y analizan todas las implicaciones de cualquier
            acción antes de ponerse en movimiento
            En las reuniones observan y escuchan antes de hablar procurando
            pasar desapercibidos.
        </div>
        <div id="Reflexivos2" class="step slide" data-x="1900" data-y="1500">
            </strong>Potencias tu aprendizaje cuando:</strong>
            <ul>
                <li class="icon-ok"> Intercambiar opiniones con otros con previo acuerdo.</li><br>
                <li class="icon-ok"> Decidir a un ritmo propio. Trabajar sin presiones ni plazos.</li><br>
                <li class="icon-ok"> Revisar lo aprendido..</li><br>
                <li class="icon-ok"> Investigar con detenimiento.</li><br>
                <li class="icon-ok"> Reunir información.</li>
                <br>
                <li class="icon-ok"> Sondear para llegar al fondo de las
                    cuestiones.
                </li>
                <br>
                <li class="icon-ok"> Pensar antes de actuar.</li>
                <br>
                <li class="icon-ok"> Asimilar antes de comentar.</li><br>
            </ul>

        </div>

        <div id="Reflexivos3" class="step slide" data-x="2000" data-y="-1500">
            <strong>Dificultas tu aprendizaje cuando:</strong>
            <ul>
            <li class="icon-ok"> Participar en actividades no planificadas.</li><br>
            <li class="icon-ok"> Hacer algo sin previo aviso. Exponer ideas espontáneamente.</li><br>
            <li class="icon-ok"> No tener datos suficientes para sacar una conclusión.</li><br>
            <li class="icon-ok"> Estar presionado por el tiempo.</li><br>
            <li class="icon-ok"> Verse obligado a pasar rápidamente de una actividad a otra.</li><br>
            </ul>
        </div>

    </div>
{% endblock %}