{% extends 'diapos.html' %}
{% block titulo %}
    Personalidad - Teórico
{% endblock %}
{% block body %}
    <div id="impress">
        <div id="Teóricos" class="step slide" data-x="0" data-y="0">
            <q>Teóricos</q>
            <img src="/static/img/escribiendo.jpg" alt="Teóricos"/>
            <br><br><br>
            <h5 class="alert alert-info">Utilize las teclas direccionales para desplazarse</h5>
        </div>
        <div id="Teóricos2" class="step slide" data-x="1000" data-y="500">
            Piensan de forma secuencial y paso a paso, integrando hechos
            dispares en teorías coherentes.
            Les gusta analizar y sintetizar la información y su sistema de
            valores premia la lógica y la racionalidad.
            Se sienten incómodos con los juicios subjetivos.
        </div>
        <div id="Teóricos3" class="step slide" data-x="1400" data-y="1500"
             data-rotate-y="90" opacity="0">
            <strong>Potencian su aprendizaje cuando:</strong>
            <ul>
                <li class="icon-ok"> Leer y oír hablar sobre ideas que insisten
                    en la racionalidad y la lógica.
                </li>
                <br>
                <li class="icon-ok"> Tener que analizar una stuación completa.
                </li>
                <br>
                <li class="icon-ok"> Enseñar a personas exigentes que hacen
                    preguntas interesantes.
                </li>
                <br>
                <li class="icon-ok"> Encontrar ideas complejas capaces de
                    enriquecerle.
                </li>
                <br>
                <li class="icon-ok"> Estar con personas de igual nivel
                    conceptual.
                </li>
                <br>
            </ul>
            </pre>
        </div>
        <div id="Teóricos4" class="step slide" data-x="0" data-y="1500">
            <strong>Dificultan su aprendizaje cuando:</strong>
            <ul>
                <li class="icon-ok"> Estar obligado a hacer algo sin un contexto
                    o finalidad clara.
                </li>
                <br>
                <li class="icon-ok"> Tener que participar en situaciones donde
                    predominan emociones y sentimientos.
                </li>
                <br>
                <li class="icon-ok"> Participar de actividades no estructuradas,
                    de fin incierto o ambiguo.
                </li>
                <br>
                <li class="icon-ok"> Participar en problemas abiertos.</li>
                <br>
                <li class="icon-ok"> Tener que actuar o decidir sin una base de
                    principios, políticas o estructura
                </li>
                <br>
            </ul>
        </div>
    </div>
{% endblock %}