{% extends 'docente_base.html' %}
{% block body %}
    <div class="container-fluid">
        <h4 class="well well-small">Editar datos personales</h4>
        <a href="passwd/">Cambiar contraseña</a>
        <br><br>
        <form id="frm_docente"> {% csrf_token %}
            <table>
                {{ docente_form }}
            </table>
            {% if mensaje %}
                <div class="alert alert-success">
                    {{ mensaje }}
                </div>
            {% endif %}
            {% if docente_form.errors %}
                <div class="alert alert-error">
                    {{ docente_form.errors }}
                </div>
            {% endif %}
            <button type="submit" class="btn btn-success"
                    form="frm_docente" formaction="/docente/perfil/"
                    formmethod="POST">
                <i class="icon-save"></i> Guardar datos
            </button>
        </form>
    </div>
{% endblock %}