{% extends 'docente_base.html' %}
{% block body %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <h3 class="well well-small">Módulo de docente</h3>
                <h5>Le damos la bienvenida {{ usuario_nombre }}</h5>
                <div class="row-fluid">
                    <div class="span6">
                        <a href="lista/cursos/" class="big1-button btn">
                            <i class="icon-2x icon-book"></i>&nbsp&nbsp
                            Ver datos por cursos</a>
                    </div>
                    <div class="span6">
                        <a href="buscar/alumno/" class="big1-button btn">
                            <i class="icon-2x icon-user"></i>&nbsp&nbsp
                            Ver datos por alumnos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}