{% extends 'docente_base.html' %}
{% load chartit %}
{% block body %}
    <div class="container-fluid">
        {% if alumno %}
            <div class="well well-small">
                <h3>Resultados</h3>
                <h4>{{ alumno.apellido_paterno }} {{ alumno.apellido_materno }}, {{ alumno.nombres }}</h4>
            </div>

            {% if mensaje %}
                <div class="row-fluid animated shake">
                    <div class="alert alert-error">
                        <i class="icon-remove-circle icon-2x"></i> {{ mensaje }}
                    </div>
                </div>
            {% endif %}

            {% if resultados %}
                <div class="row-fluid">
                    <div class="span5">
                        <h3>Datos</h3>
                        <table class="table table-bordered table-condensed">
                            <tr>
                                <th>Cuestionario</th>
                                <td> {{ cuestionario_lleno.cuestionario }}</td>
                            </tr>
                            <tr>
                                <th>Código Alumno</th>
                                <td>{{ cuestionario_lleno.alumno.codigo }}</td>
                            </tr>
                            <tr>
                                <th>Fecha en que llenó el cuestionario</th>
                                <td>{{ cuestionario_lleno.fecha }}</td>
                            </tr>
                        </table>
                        <h3>Resultados</h3>

                        <div class="alert alert-info">
                            La tendencia aquella en la que obtuvo mayor puntaje.
                        </div>
                        <table class="table table-bordered table-condensed table-hover">
                            {% for resultado in resultados %}
                                <tr>
                                    <th>{{ resultado.categoria }}</th>
                                    <td>{{ resultado.cantidad }}</td>
                                    <td>
                                        <a href="/tutordocente/{{ resultado.categoria }}/"
                                           target="_blank">
                                            ver </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="span7">
                        <h3>Diagrama</h3>

                        <div id='grafico_columna'></div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
{% block scripts %}
    <script src="/static/js/highcharts/highcharts.js"></script>
    <script src="/static/js/highcharts/modules/exporting.js"></script>
    {{ grafico_columna|load_charts:"grafico_columna" }}
{% endblock %}