{% extends plantilla %}
{% load chartit %}

{% block body %}
    <div class="container-fluid">
        {% if no_alumnos %}
            <div class="alert alert-error">
                En este curso no se encontraron alumnos que hayan llenado este
                cuestionario.
            </div>
        {% else %}
            <form action="." method="POST">{% csrf_token %}
                <input type="hidden" name="cuestionario"
                       value="{{ id_cuestionario }}"/>

                <div class="row-fluid well well-small">
                    <h4 class="span11">{{ curso.nombre }}</h4>

                    <div class="span1">
                        <button class="btn btn-info">
                            <i class="icon-refresh pull-right"></i>
                        </button>
                    </div>
                </div>
                {% if id_cuestionario %}
                    <div class="alert alert-info">
                    <span>Seleccione los alumnos que quiere incluir en el reporte.
                        Tenga en cuenta que sólamente se listan aquellos alumnos
                        que llenaron el cuestionario seleccionado.</span>
                        <button class="btn btn-success">
                            <i class="icon-briefcase"></i> Ver reporte
                        </button>
                    </div>
                {% endif %}
                <div class="row-fluid">
                    <div class="span12">
                        {% if alumnos %}
                            <table class="table table-bordered table-hover table-condensed">
                                <thead class="well">
                                <tr>
                                    <th>
                                        <input type="checkbox" name="select-all"
                                               id="select-all"/>
                                    </th>
                                    <th>Código</th>
                                    <th>Apellido Paterno</th>
                                    <th>Apellido Materno</th>
                                    <th>Nombres</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for alumno in alumnos %}
                                    <tr>
                                        <td>
                                            <input type="checkbox"
                                                   value="{{ alumno.codigo }}"
                                                   name="alumno_seleccionado"/>
                                        </td>
                                        <td>{{ alumno.codigo }}</td>
                                        <td>{{ alumno.apellido_paterno }}</td>
                                        <td>{{ alumno.apellido_materno }}</td>
                                        <td>{{ alumno.nombres }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>
            </form>
            <div class="row-fluid">
                <div class="span12">
                    {% if mensaje %}
                        <div class="row-fluid">
                            <div class="alert alert-error">
                                <i class="icon-remove-circle icon-2x"></i> {{ mensaje }}
                            </div>
                        </div>
                    {% endif %}

                    {% if resultados_tabla %}
                        <div class="row-fluid">
                            <table class="table table-bordered table-condensed span4">
                                <tr>
                                    <th>Cuestionario</th>
                                    <td> {{ cuestionario.nombre }}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="row-fluid">
                            <div class="span4">
                                <h3>Resultados</h3>

                                <div class="alert alert-info animated flash">
                                    La tendencia de estilo en este grupo de
                                    alumnos es aquella en la que se observa
                                    mayor puntaje.
                                </div>
                                <table class="table table-bordered table-condensed table-hover">
                                    {% for resultado in resultados_tabla %}
                                        <tr>
                                            <th>{{ resultado.categoria__nombre }}</th>
                                            <td>{{ resultado.cantidad__avg }}</td>
                                            <td>
                                                <a href="/tutordocente/{{ resultado.categoria__nombre }}/"
                                                   target="_blank"> ver </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                            <div class="span8">
                                <div id='container'></div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    {% if not no_alumnos %}
        <script>
            $('#select-all').click(function (event) {
                if (this.checked) {
                    // Iterar cada checkbox
                    $(':checkbox').each(function () {
                        this.checked = true;
                    });
                }
                else {
                    // Iterar cada checkbox
                    $(":checkbox").each(function () {
                        this.checked = false;
                    });
                }
            });
        </script>
        <script src="/static/js/highcharts/highcharts.js"></script>
        <script src="/static/js/highcharts/modules/exporting.js"></script>
        {{ grafico|load_charts:"container" }}
    {% endif %}
{% endblock %}