{% extends "admin_base.html" %}
{% block body %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <h4 class="well">Administración del sistema PIPO</h4>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span1"></div>
            <div class="span1"><img src="/static/img/gears_1.png"/></div>
            <div class="span4">
                <strong>Desde este módulo, Ud. podra:</strong>
                <ul>
                    <li>Registrar cuestionarios nuevos</li>
                    <li>Registrar alumnos nuevos</li>
                    <li>Registrar docente nuevos</li>
                    <li>Registrar cursos nuevos</li>
                    <li>Registrar matrículas nuevas</li>
                </ul>
            </div>
            <div class="span4">
                <p></p>
                <ul>
                    <li>Ver los cuestionarios registrados</li>
                    <li>Ver los alumnos registrados</li>
                    <li>Ver los docentes registrados</li>
                    <li>Ver los cursos registrados</li>
                    <li>Ver las matrículas registradas</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}