{% extends "admin_base.html" %}
{% block body %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <h3 class="well well-small">Importar {{ titulo_importar }}</h3>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span2">
                <strong>Archivo de datos:</strong>
            </div>
            <form action="." method="POST" enctype="multipart/form-data"
                  class="span9">
                {% csrf_token %}
                <div class="span5">
                    {{ formulario.archivo }}
                    {{ formulario.errors }}
                </div>
                <button class="btn btn-primary span3">
                    <i class="icon-upload-alt"></i> Cargar
                </button>
            </form>
        </div>
        {% if mensaje %}
            <div class="row-fluid">
                <div class="span12 alert alert-error">
                    {{ mensaje }}
                </div>
            </div>
        {% endif %}
        {% if mensaje_ok %}
            <div class="row-fluid">
                <div class="span12 alert alert-success">
                    {{ mensaje_ok }}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}