{% extends 'admin_base.html' %}
{% block head %}
    <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <h4 class="well well-small"> Diapositivas para la
            categoría {{ categoria }}</h4>

        <div class="row-fluid">
            <div class="span6">
                <p class="well well-small">
                    <strong>Diapositivas guardadas</strong>
                </p>
                <table class="table table-bordered table-hover">
                    <thead class="well">
                    <tr>
                        <th>Nro.</th>
                        <th>Título</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for diapositiva in diapositivas %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ diapositiva.titulo }}</td>
                            <td>
                                <form id="frm_elmininar_diapo{{ diapositiva.id }}"
                                      class="btn-group form-inline">{% csrf_token %}
                                    <a href="/admin/cuestionario/categoria/{{ categoria.id }}/diapos/{{ diapositiva.id }}/"
                                       class="btn btn-mini btn-info"
                                       title="Editar diapositiva">
                                        <i class="icon-edit"></i>
                                    </a>
                                    <input type="hidden" name="id_diapo"
                                           value="{{ diapositiva.id }}"/>
                                    <button form="frm_elmininar_diapo{{ diapositiva.id }}"
                                            formaction="/admin/cuestionario/categoria/{{ categoria.id }}/diapo/eliminar/"
                                            formmethod="POST"
                                            class="btn btn-mini btn-danger"
                                            title="Eliminar diapositiva">
                                        <i class="icon-remove"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="span6">
                <p class="well well-small">
                    <strong>Nueva diapositiva</strong>
                </p>

                <form action="." method="POST">
                    {% csrf_token %}
                    {{ formulario.as_p }}
                    <div class="btn-group">
                        <button class="btn btn-success" type="submit">
                            <i class="icon-save"></i> Guardar
                        </button>
                        <a href="/admin/cuestionario/categoria/{{ categoria.cuestionario_id }}/diapos/"
                           class="btn">
                            <i class="icon-file"></i> Nuevo
                        </a>
                        <a href="/admin/cuestionario/crear/{{ categoria.cuestionario_id }}/"
                           class="btn btn-danger">
                            <i class="icon-ban-circle"></i> Cancelar
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}