{% extends 'admin_base.html' %}
{% load endless %}

{% block body %}
    {% paginate docentes %}
    <div class="container-fluid">
        <h3 class="well well-small">Docentes registrados en el sistema</h3>

        <div class="row-fluid">
            <div class="span12">
                <div class="span9">
                    <form class="form-search form-inline" action=".">
                        Buscar docente:
                        <div class="input-append">
                            <input type="search" class="search-query"
                                   name="filtro"
                                   placeholder="Código o apellido paterno">
                            <button type="submit" class="btn btn-info">
                                <i class="icon-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% if docentes %}
            <table class="table table-bordered table-hover table-condensed">
                <thead class="well">
                <tr>
                    <th>Código</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Nombres</th>
                    <th>Correo</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for docente in docentes %}
                    <tr>
                        <td>{{ docente.codigo }}</td>
                        <td>{{ docente.apellido_paterno }}</td>
                        <td>{{ docente.apellido_materno }}</td>
                        <td>{{ docente.nombres }}</td>
                        <td>{{ docente.correo }}</td>
                        <td>
                            <form id="form_eliminar_docente{{ docente.codigo }}">
                                {% csrf_token %}
                                <input type="hidden" name="codigo_docente"
                                       value="{{ docente.codigo }}"/>

                                <div class="btn-group">
                                    <a href="/admin/docentes/editar/{{ docente.codigo }}/"
                                       class="btn btn-mini btn-info">
                                        <i class="icon-edit"></i>
                                    </a>
                                    <button form="form_eliminar_docente{{ docente.codigo }}"
                                            formaction="/admin/docentes/eliminar/"
                                            formmethod="POST"
                                            class="btn btn-mini btn-danger">
                                        <i class="icon-remove"></i>
                                    </button>
                                </div>
                            </form>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
            <div class="pagination pagination-centered">
                {% show_pages %}
            </div>
        {% else %}
            <div class="alert alert-info">
                No se econtraron docentes.
            </div>
        {% endif %}
    </div>
{% endblock %}