{% extends 'admin_base.html' %}
{% block body %}
    <div class="container-fluid">
        <h3 class="well well-small">Datos de matrícula</h3>

        <form action="." method="POST">
            {% csrf_token %}
            <table>
                {{ matricula_form }}
            </table>
            {% if mensaje_ok %}
                <div class="alert alert-success">
                    {{ mensaje_ok }}.
                    <a href="/admin/matricula/listar/">
                        (volver a la lista)
                    </a>
                </div>
            {% endif %}
            {% if mensaje_err %}
                <div class="alert alert-error">
                    {{ mensaje_err }}
                </div>
            {% endif %}
            <div class="btn-group">
                <button class="btn btn-success" type="submit">
                    <i class="icon-save"></i> Guardar
                </button>
                <a href="/admin/matricula/agregar/" class="btn btn-info">
                    <i class="icon-file"></i> Nuevo
                </a>
            </div>
        </form>
    </div>
{% endblock %}