{% extends 'admin_base.html' %}
{% block body %}
    <div class="container-fluid">
        <h4 class="well well-small">Editar pregunta</h4>

        <form action="/admin/cuestionario/{{id_cuestionario}}/pregunta/editar/{{pregunta.id}}/"
              method="POST">
            {% csrf_token %}
            <table>
                {{ pregunta_form }}
            </table>
            {% if mensaje_ok %}
                <div class="alert alert-success">
                    {{ mensaje_ok }}
                    <a href="/admin/cuestionario/crear/{{ id_cuestionario }}/">
                        <-- volver a la cuestionario
                    </a>
                </div>
            {% endif %}
            {% if mensaje_err %}
                <div class="alert alert-error">
                    {{ mensaje_err }}
                </div>
            {% endif %}
            <div class="btn-group">
                <button class="btn btn-success" type="submit">
                    <i class="icon-save"></i> Guardar
                </button>
                <a href="/admin/cuestionario/crear/{{ id_cuestionario }}/"
                   class="btn btn-danger">
                    <i class="icon-ban-circle"></i> Cancelar
                </a>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        function goBack() {
            window.history.back()
        }
    </script>
{% endblock %}